h3 {
    margin: 5% 0 0 10%;
}

a {
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
}

.start-over-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    color: #50D14B;
    padding: 3%;
    width: 100%;
}

.start-over-button:hover {
    background-color: #50D14B;
    color: white;
}

.carousel {
    width: 90%; 
    margin: 5% auto; 
}

.download-button {
    color: #0B6DFF;
}

.download-button:hover {
    background-color: #0B6DFF;
    color: white;
}

.error-message {
    background-color: #DE6F64; 
    border: 2px solid #E13232;
    margin: 10%;
}

.jottacloud-button {
    color: #9C61E8;
}

.jottacloud-button:hover {
    background-color: #9C61E8;
    color: white;
}

.left-container {
    background-color: #ECEDF3;
    border-radius: 10px 0 0 10px;
}

.menu-item {
    color: white;
    font-size: 1.5rem;
    padding: 5% 10%;
}

.outer-container {
    border-radius: 10px;
    margin: 3% 3% 10px;
}

.progress-bar-container {
    margin: 0 10% 50px;
}

.result-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    padding: 3%;
    width: 100%;
}

.result-button:disabled {
    background-color: #979799;
    color: black;
}

.right-container {
    background-color: #4D4D4F;
    border-radius: 0 10px 10px 0;
    min-height: 90vh;
    padding-top: 3%;
}

.warning {
    color: #FAF67D;
}

#main-image {
    max-width: 70%; 
    max-height: 50%; 
    margin: 5% 10%;
}

#navigation-buttons {
    margin-top: 40vh;
}

@media (max-width: 1290px) {
    .menu-item {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    img {
        width: 80vw;
    }

    .menu-item {
        font-size: 1.5rem;
    }

    .left-container {
        border-radius: 10px 10px 0 0;
    }

    .right-container {
        border-radius: 0 0 10px 10px;
        min-height: 0;
    }

    #navigation-buttons {
        margin-top: 0;
    }
}
