h3 {
    margin: 5% 0 0 10%;
}

a {
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
}

.carousel {
    width: 90%; 
    margin: 2% auto; 
}

.carousel-cell {
    background-color: #D5D5DB;
}

.download-button {
    color: #0B6DFF;
}

.download-button:hover {
    background-color: #0B6DFF;
    color: white;
}

.error-message {
    background-color: #DE6F64; 
    border: 2px solid #E13232;
}

.error-message p {
    margin: 10%;
}

.jottacloud-button {
    color: black
}

.jottacloud-button:hover {
    background-color: black;
    color: white;
}

.left-container {
    background-color: #ECEDF3;
    border-radius: 10px 0 0 10px;
}

.menu-item {
    color: white;
    font-size: 1.5rem;
    padding: 5% 10%;
}

.outer-container {
    border-radius: 10px;
    margin: 3% 3% 0;
}

.result-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    margin-right: 2%;
    padding: 3%;
    width: 100%;
}

.result-button:disabled {
    background-color: #979799;
    color: black;
}

.right-container {
    background-color: #4D4D4F;
    border-radius: 0 10px 10px 0;
}

.warning {
    color: #FAF67D;
}

@media (max-width: 1290px) {
    .menu-item {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .menu-item {
        font-size: 1.5rem;
    }

    .left-container {
        border-radius: 10px 10px 0 0;
    }

    .right-container {
        border-radius: 0 0 10px 10px;
    }
}
