img {
    max-width: 100%;
}

.download-single-img {
    color: white;
    font-style: normal;
    margin: -30px 0 0 10px;
    position: relative;
    text-shadow: black 1px 0 10px;
    width: 20%;
    z-index: 1;
}

.download-single-img:hover {
    color: #0B6DFF;
    cursor: pointer;
}

.one-image {
    height: 800px;
}

.multiple-image {
    background-color: #E3E3E6; 
    width: 700px; 
    height: 600px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #4D4D4F;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4D4D4F transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-indicator {
    position: absolute; 
    top: 40%; 
    left: 40%;
}
  