h3 {
    margin: 5% 0 0 10%;
}

.active {
    background-color: #97979C;
}

.cancel-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    color: #A92649;
    margin-left: 2%;
    padding: 3%;
    width: 48%;
}

.cancel-button:hover {
    background-color: #A92649;
    color: white;
}

.carousel {
    width: 90%; 
    margin: 2% auto; 
}

.carousel-cell {
    background-color: #D5D5DB;
}

.container {
    background-color: #ECEDF3;
    border-radius: 0 10px 10px 0;
}

.form-control {
    font-size: 1rem;
}

.generate-button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    color: #0B6DFF;
    margin-right: 2%;
    padding: 3%;
    width: 48%;
}

.generate-button:hover {
    background-color: #0B6DFF;
    color: white;
}

.highlight:hover {
    background-color: #97979C;
    cursor: pointer;
}

.left-bar-menu {
    background-color: #4D4D4F;
    border-radius: 10px 0 0 10px;
}

.menu-item {
    color: white;
    font-size: 1.5rem;
    padding: 5% 10%;
}

.menu-item input {
    display: block;
}

.menu-item img {
    display: block; 
    margin: 0 auto;
    width: 70%; 
}

.outer-container {
    border-radius: 10px;
    margin: 3% 3% 0;
}

.passive {
    background-color: #4D4D4F;
}

.scrollbar
{
	height: 60vh;
	background-color: #ECEDF3;
	overflow-y: scroll;
}

.showroom {
    padding: 10px 0;
}

.showroom img {
    cursor: pointer;
    width: 100%;
}

.showroom img:hover {
    border: 3px solid #0B6DFF;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (max-width: 1290px) {
    .cancel-button {
        font-size: 1rem;
    }

    .generate-button {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .cancel-button {
        font-size: 1.5rem;
    }

    .container {
        border-radius: 0 0 10px 10px;
    }

    .generate-button {
        font-size: 1.5rem;
    }

    .left-bar-menu {
        border-radius: 10px 10px 0 0;
    }
}